.houseOnHill {
  position: absolute;
  bottom: -700px;
  right: -500px;
  height: 1000px;
  width: 1000px;
  z-index: 2;
}

.house {
  position: relative;
  right: -250px;
  bottom: 34px;
  z-index: 1;
}

.hill {
  position: relative;
  height: 1000px;
  width: 1200px;
  right: 300px;
  bottom: 50px;
  border-radius: 50%;
  background-color: rgb(74, 144, 169);
}

.leftHill {
  position: absolute;
  bottom: -1100px;
  right: calc(50vw - 100px);
  height: 1600px;
  width: 2200px;
  border-radius: 50%;
  background-color: rgb(48, 100, 119);
  z-index: 3;
}

.backgroundHill {
  position: absolute;
  bottom: -1550px;
  right: calc(-20vw - 1000px);
  height: 2000px;
  width: 3000px;
  border-radius: 50%;
  background-color: rgb(168, 202, 214);
  z-index: -1;
}

.fireContainer {
  position: relative;
  display: grid;
  grid-template-columns: 15px 15px;
  grid-template-rows: 15px 15px;
  right: -287px;
  bottom: 1086px;
  z-index: 2;
  width: 40px;
  height: 40px;
}

.fireGlow {
  position: relative;
  width: 11px;
  height: 11px;
  background-color: rgb(232, 196, 129);
  box-shadow: 0px 0px 30px 3px rgb(255, 201, 24);
  animation: firePulse 2s infinite;
}

@keyframes firePulse {
  0% {
    box-shadow: 0px 0px 30px 3px rgb(255, 201, 24);
  }
  50% {
    box-shadow: 0px 0px 30px 5px rgb(255, 208, 54);
  }
  100% {
    box-shadow: 0px 0px 30px 3px rgb(255, 201, 24);
  }
}
